<div class="title row"> 
  <div class="col-md-12">
    <h2>
      Ingredients <%= link_to new_ingredient_path, { class: 'btn btn-primary pull-right', role: 'button' } do %>
        <%= fa_icon "plus" %> New Ingredient
      <% end %>
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Supplier</th>
          <th>Product code</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render ingredients %>      
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="text-center">
      <%= paginate ingredients %>
    </div>
  </div>
</div>

